<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>后台管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">您好，<span th:text="${userId}"></span>用户！</div>

            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="/images/dog.jpg" class="layui-nav-img">
                        <span th:text="${userName}"></span>
                    </a>

                </li>
                <li class="layui-nav-item"><a href="/user/login">退出</a></li>
            </ul>
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree"  lay-filter="test">

                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" >用户管理</a>
                        <dl class="layui-nav-child">
                            <dd><a href="/user/show" target="manList">所有用户</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">试题管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{'/sub/index?userId='+${userId}}" target="manList">添加主观题</a></dd>
                            <dd><a th:href="@{'/obj/index?userId='+${userId}}" target="manList">添加客观题</a></dd>
                            <dd><a th:href="@{'/sub/show?userId='+${userId}}" target="manList">所有主观题</a></dd>
                            <dd><a th:href="@{'/obj/show?userId='+${userId}}" target="manList">所有客观题</a></dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item">
                        <a href="javascript:;">试卷管理</a>
                        <dl class="layui-nav-child">
                            <dd><a th:href="@{'/exam/add?userId='+${userId}}" target="manList">新建试卷</a></dd>
                            <dd><a th:href="@{'/exam/show?userId='+${userId}}" target="manList" >所有试卷</a></dd>
<!--                            <dd><a target="manList">做题记录</a></dd>-->
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <!--<div style="padding: 15px;">内容主体区域</div>-->
            <iframe class="layadmin-iframe ifrem_voice" src="/user/show" width="100%" height="700px"frameborder="0" name="manList" scrolling="no"></iframe>
        </div>
        <div class="layui-footer">
            © njxzc-bde 后台管理
        </div>
    </div>
    <script src="/layui/layui.js"></script>
    <script>
        //JavaScript代码区域
        layui.use('element', function(){
            var element = layui.element;

        });
    </script>
</body>
</html>