<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主观题</title>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        <div class="layui-form">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>序号</th>
                    <th>问题</th>
                    <th>问题答案</th>
                    <th>可执行操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subItem : ${subItems}">
                    <td th:text="${subItemStat.count}"></td>
                    <td th:text="${subItem.subDesc}"></td>
                    <td th:text="${subItem.subAns}"></td>
                    <td>
                        <button class="layui-btn layui-btn-sm" onclick="change_ques()">
                            <a th:href="@{'/exam/updateSub?subId='+${subItem.id}}" style="color: #00FFFF">修改</a>
                        </button>
                        <button class="layui-btn layui-btn-sm" onclick="delete_ques()">
                            <a th:href="@{'/exam/deleteSub?subId='+${subItem.id}+'&itemId='+${subItem.itemId}}" style="color: #00FFFF">删除</a>
                        </button>
                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </form>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript">
        function change_ques() {
            alert("你确定要修改此题？");
        }
        function delete_ques() {
            alert("你确定要删除此题？");
        }
    </script>
</body>
</html>